:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    /* background-color: rgba(255, 255, 255, 0); /* Adjust the last value for transparency */  
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
    /* background-color: rgba(255, 255, 255, 0); Adjust the last value for transparency */
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* CSS styles for the image container */
.image-container {
  width: 100%;
  overflow: hidden;
  padding: 10px; /* Adjust the padding as needed */
}

/* CSS styles for the cropped image */
.cropped-image {
  width: 100%; /* Set the width of the image to 100% to make it responsive */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}

/* CSS styles for the image container */
.image-container {
  width: 100%;
  overflow: hidden;
  padding: 10px; /* Adjust the padding as needed */
}

/* CSS styles for the resized image */
.resized-image {
  width: 100%; /* Set the desired width */
  height: 350px; /* Set the desired height */
  object-fit: cover; /* Maintain aspect ratio and crop if necessary */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

.hidden {
  display: none;
}

/* CSS styles for the image container */
body {
  font-family: Arial, sans-serif;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
  margin: 0 10px;
  display: block; /* Ensures each image/link is on a new line */
}

.social-icons img {
  width: 30px; /* Set the desired width for the images */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}